.container-3 {
    padding: 125px 0 120px 0;
    
    .about-us {
      width: ;
    height: 484px;

    .about-us-box {
      h1 {
        color: #000;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.28px;
      }
      h2 {
        width: 348px;
        color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.96px;
      }
      p {
        color: var(--light, #7E7D7A);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
      }
      a {
        text-decoration: none;
        display: flex;
    width: 142px;
    height: 38px;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
      }
    }
    
    }
    
      }
    