* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container .container-1 {
  padding: 41px 229px 235px 135px;
  min-height: 100vh;
  background-image: url("./images/bg-image.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container .container-1 nav {
  display: flex;
  align-items: center;
}
.container .container-1 nav ul {
  display: flex;
  align-items: center;
  margin-left: 269px;
}
.container .container-1 nav ul li {
  list-style-type: none;
  /* li .white-box {
      border-radius: 35px;
  background: #FFF;
   } */
}
.container .container-1 nav ul li a {
  margin-left: 32px;
  text-decoration: none;
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container .container-1 nav form {
  margin-left: 50px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  border-radius: 35px;
  background: #FFF;
  width: 222px;
  height: 40px;
}
.container .container-1 nav form button {
  border: none;
  background: none;
}
.container .container-1 nav form input {
  margin-left: 10px;
  border: none;
  outline: none;
}
.container .container-1 nav form input::placeholder {
  color: #929292;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container .container-1 nav a {
  margin-left: 20px;
}
.container .container-1 .box-container {
  display: flex;
  justify-content: space-between;
}
.container .container-1 .box-container .left-side h1 {
  margin-top: 147px;
  color: var(--Secondary, #2f2105);
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container .container-1 .box-container .left-side h1 span {
  color: var(--Primary, #ff902b);
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container .container-1 .box-container .left-side p {
  margin-top: 24px;
  color: var(--light, #7e7d7a);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container .container-1 .box-container .left-side .left-side-box1 {
  display: flex;
  align-items: center;
}
.container .container-1 .box-container .left-side .left-side-box1 b {
  margin-top: 35px;
  color: #f4ae26;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.container .container-1 .box-container .left-side .left-side-box1 button {
  margin-right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 32px;
  margin-top: 32px;
  border-radius: 33px;
  background: var(--Secondary, #2f2105);
  box-shadow: 0px 4px 32px 0px rgba(223, 195, 124, 0.25);
}
.container .container-1 .box-container .left-side .left-side-box1 button a {
  margin-right: 10px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
.container .container-1 .box-container .right-side img {
  margin-top: 82px;
}
.container .container-1 h2 {
  margin-top: 143px;
  color: #000;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.28px;
}

.container-2 h2 {
  margin-bottom: 44px;
  color: #000;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.28px;
}
.container-2 .coffee-box {
  background-color: #F9D9AA;
  width: 1268px;
  height: 367px;
  border-radius: 30px;
}
.container-2 .coffee-box ul {
  display: flex;
  justify-content: center;
}
.container-2 .coffee-box ul li {
  width: 343px;
  height: 373px;
  /* padding: 24px 18px 123px 18px; */
  list-style-type: none;
  margin-left: 24px;
}
.container-2 .coffee-box ul li img {
  width: 307px;
  height: 226px;
}
.container-2 .coffee-box ul li .name-box {
  display: flex;
}
.container-2 .coffee-box ul li .name-box p {
  margin-left: 69px;
}
.container-2 .coffee-box ul li .name-box1 {
  display: flex;
}
.container-2 .coffee-box ul li .name-box1 img {
  display: flex;
  width: 64px;
  height: 32px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.container-2 .coffee-box ul li .service-main-box {
  display: block;
  justify-content: center;
}